/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

.belchers {
  background-color: greenyellow;
}

.belchers img {
  max-width: 40rem;
  margin: 0 auto;
  padding-top: 2rem;
}

.sign {
  background-color: red;
}

.sign img {
  max-width: 56rem;
  padding: 2rem;
  margin: 0 auto;
}

.bg-gray {
  background-color: gray;
}
#louis {
  width: auto;
  height: 25rem;
}

#Linda {
  width: auto;
  height: 37rem;
}

#Tina {
  width: auto;
  height: 30rem;
}
.characters {
  display: flex;
  align-items: baseline;
  gap: 3rem;
  justify-content: center;
}

.box {
  border: 12px solid rgb(164, 75, 73);
  width: 10.5rem;
  height: 13rem;
  background-color: gray;
  text-align: center;
  padding-top: 0.5rem;
  position: relative;
  top: -42rem;
}
.menu a {
  color: white;
  line-height: 2.5rem;
  font-size: 1.34rem;
}

.boxy {
  border: 12px solid rgb(164, 75, 73);
  width: 10.5rem;
  height: 13rem;
  background-color: gray;
  text-align: center;
  padding-top: 0.5rem;
  position: relative;
}

.rbox {
  border: 12px solid rgb(164, 75, 73);
  width: 10.5rem;
  height: 13rem;
  background-color: gray;
  text-align: center;
  padding-top: 0.5rem;
  position: relative;
}
/* Desktop Only Styles*/ ;
